.divider {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.image-card {
  width: 60vw;
  height: 70vh;
}
.flex-space {
  flex: 1 0 auto !important;
}
.text-field-width {
  width: 100%;
}
.alignment{
  vertical-align: top;
}
