.divider {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.image-card {
  width: 60vw;
  height: 70vh;
}
.flex-space {
  flex: 1 0 auto !important;
}
.media {
  height: 50vh;
}

.image-content {
  display: flex;
  width: 100% !important;
  background-color: grey;
}
.text-field-width {
  width: 100%;
}
.alignment{
  vertical-align: top;
}
