.card{
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 50vw;
}

.image-content{
    height: 50vh;
}
.media {
    position: absolute;
    height: 50vh;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.backgroundImg {
    filter: blur(23px);
}
.flex-space{
    flex: 1 0 auto !important;
}