.card{
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 50vw;
}
.media {
    height: 50vh;
}

.image-content{
    display: flex;
    width: 100% !important;
    background-color: grey;
    box-shadow: 0 0 40px 40px white inset;
    
}
.flex-space{
    flex: 1 0 auto !important;
    background: transparent;
    filter: blur(1.5rem);
}